---
---

@media (prefers-color-scheme: dark) {
  html:not([data-mode]) {
    @import 'wandbox-dark.scss';
  }
}

@media (prefers-color-scheme: dark) {
  html[data-mode=light] {
    @import 'wandbox-light.scss';
  }
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.6; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}